html {box-sizing: border-box;}
*,*:after; *:before{box-sizing: inherit;}



body {
  background-color: slategray;
}
.music-player {
	width: 800px;
}
input {
	width:800px;
	line-height: 30px;
	margin: 20px 0;
	font-size: 20px;
	outline: none;
}
.container {
	width:850px;
	margin: auto;
	text-align: center;
}
.search {
	border-top: 1px solid darkblue;
	border-bottom: 1px solid darkblue;
	margin: 20px;

}
.results {

	width:800px;

}

header h1 {
  color: darkblue;
}
.results h3 {
  color: darkblue;
}
.resultlist {
	text-align: center;
    width: 849px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.searchresult {
	width:150px;
	padding: 10px;
	background-color: lightblue;
	margin-top: 40px;
}
a{
	outline: none;
}
.image{
	width: 125px;
    height: 125px;
    margin-top: 5px;
}
.title{
	color: red;
	width: 140px;
 	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
.name{
	color: black;
	width: 140px;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	margin-top: -30px;
}
